# Ignore Python cache and environment files
__pycache__/
*.py[cod]
*.egg-info/

# Ignore large data files
*.xlsx
*.xls
*.csv
*.tsv
!catalogo_manual.tsv
!puente_sies.tsv
*.parquet
*.zip
*.tar.gz
*.pkl
*.joblib

# Track matrix files
!matriz_desambiguacion_sies_final.tsv

# General OS files
.DS_Store
